* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  line-height: 1.5;

  background-color: black;
}

/*---------------
	NAVBAR
---------------*/

.show {
  display: flex !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li > a {
  display: block;
  position: relative;
  padding: 20px 15px 10px 15px;
  text-decoration: none;
  color: white;
}

nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background-color: white;
}

nav ul li .link:hover::before {
  transform: scaleX(1);
}

nav .more {
  display: none;
}

nav .menu {
  position: absolute;
  display: none;
  flex-direction: column;
  min-width: 200px;
  margin-top: 48px;

  background-color: white;
}

nav .menu a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

nav .menu a:hover {
  background-color: black;

  color: white;
}

nav .mobile {
  display: none;
  width: 100%;
}

nav .mobile .header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
}

nav .mobile .header a {
  color: white;
  display: inline-flex;
  text-decoration: none;
  padding: 10px;
}

nav .mobile .header #bmenu {
  border: none;
  background-color: transparent;
  cursor: pointer;

  color: white;
}

nav .mobile .links {
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 200;
  background-color: black;
}

nav .mobile .links a {
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;

  color: white;
}

nav .mobile .links a:hover {
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;

  color: black;
  background-color: white;
}

/*---------------
	HEADER
---------------*/

header {
  background-image: url(../img/fondo\ morado\ gamesquad.avif);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/*---------------
	BANNER
---------------*/

h2{
  font-size: 2em;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 0.2px;
}

h2::before{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -20px;
  left: 0;
  
  transform: scale(0.4) skewY(-20deg) rotate(20deg);

  background-color: greenyellow;
}

#banner {
  font-size: 1.1em;
  text-align: center;
  padding: 40px;
  width: 350px;
  position: absolute;
  z-index: 100;
  top: 200px;
  right: 100px;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.green-button {
  text-transform: uppercase;
  border: 0;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 40px;
  background-color: purple;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.green-button:hover {
  background-color: rgba(41, 41, 149, 0.224);
}

.green-link {
  text-transform: uppercase;
  border: 0;
  display: inline-flex;
  position: relative;
  align-items: center;
  font-size: 15px;
  padding: 10px 10px;
  color: purple;
  font-weight: bolder;
  text-decoration: none;
}

.green-link::before{
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;

  background-color: purple;
}

.green-link:hover::before {
  transform: scaleX(1);
}

/*---------------
	VIDEOS
---------------*/

.w-75{
  width: 50%;
  margin: 1.5% auto;
  font-size: large;
}

h3{
  font-size: 1.6em;
  padding-top: 50px;

  color: black;
}

#videos{
  text-align: center;
  padding: 50px 0;

  background-image: url(../img/bg-videos.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: papayawhip;
}

#videos #slider #controls{
  display: flex;
  justify-content: center;
}

#videos #slider #controls #prev,
#videos #slider #controls #next{
  border: none;
  height: 50px;
  width: 80px;
  background-color: rgba(58, 58, 58);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#videos #slider #controls #prev:hover,
#videos #slider #controls #next:hover {
  background-color: rgba(0, 0, 0);
}

#videos #slider #current {
  width: 855px;
  height: 482px;
  margin: 50px auto;
  /* border: solid 1px rgb(20, 76, 93); */
}

#videos #slider #videos-container {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
  overflow: auto;
}

#videos #slider #videos-container .item{
  border: solid 1px #00c3ff;
  cursor: pointer;
  overflow: hidden;

  min-width: 320px;
  height: 180px;
}

#videos #slider #videos-container .item a{
  position: relative;

}

#videos #slider #videos-container .item img{
  object-fit: contain;
  min-width: 320px;
  height: 180px;
  transition: opacity 0.3s ease;
  
}

#videos #slider #videos-container .item:hover img{
  opacity: 0.5;
  object-fit: contain;
  
}

#videos #slider #videos-container .item a::before{
  font-family: "Material icons";
  font-size: 30px;
  content: "play_arrow";
  color: white;
  position: absolute;
  display: block;
  left: 135px;
  top: -95px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/*---------------
	MULTI-PLAYER
---------------*/


#multi-player{
  text-align: left;
  height: 95vh;
  background-image: url(../img/RksInJ.jpg);
  display: flex;
  align-items: center;
  justify-content: end;
}

.info{
  font-size: large;
  line-height: 1.2;
  padding: 40px;
  width: 600px;
  /* height: 50%; */
  margin-right: 50px;
  /* color: rgb(0, 0, 0); */

  background-color: rgba(225, 219, 219, 0.5);
}

.info p {
  font-size: 22px;
}

/*--------------------------
 GET THE GAME-TIENDA VIRTUAL
---------------------------*/
#get-the-game {
  text-align: center;
}
#get-the-game h2 {
  color: white;
}

@media screen and (max-width: 1500px){
  .info{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
}


@media screen and (max-width: 1328px) {
  nav .link-hide {
    display: none;
  }

  nav .more {
    display: flex;
  }

  header {
    height: 70vh;
  }

  #banner{
    position: initial !important;
    z-index: 100;
    width: 100%;
  }

  #slider #current {
    width: 80% !important;
  }

  #slider #current iframe {
    height: 500px;
  }

  #multi-player{
    background-position: center left;
  }

  .info{
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 799px) {
  nav {
    width: 100%;
    padding: 0;
  }

  nav ul {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  header {
    background-position: center 40px;
    height: 40vh;
  }

  #banner{
    position: initial !important;
    z-index: 100;
    width: 100%;
  }

  #slider #current {
    width: 90% !important;
  }

  #slider #current iframe {
    height: 300px;
  }

  #slider #videos-container {
    display: none;
  }

  #multi-player{
    background-position: -400px 0px;
  }

  .info{
    width: 90%;
    margin: 0 auto;
  }
}
